# Ignore
apl-wiki/
other classes ideas/
log.txt
*.html
*.json
*.xml
*.code-workspace
.DS_Store
config.ini
venv/
reports/
*.lock
*.pkl
temp_simc_input.simc
__pycache__/

# Allow
!index.html
!template.html